<?xml version="1.0"?>
<config>
    <modules>
        <VS7_WishlistShareSelect>
            <version>0.1.0</version>
        </VS7_WishlistShareSelect>
    </modules>
    <global>
        <helpers>
            <vs7_wishlistshareselect>
                <class>VS7_WishlistShareSelect_Helper</class>
            </vs7_wishlistshareselect>
        </helpers>
        <rewrite>
            <vs7_wishlistshareselect_index>
                <from><![CDATA[#^/wishlist/index/(update|send|share)/#]]></from>
                <to>/vs7_wishlist_share_select/index/$1/</to>
            </vs7_wishlistshareselect_index>
        </rewrite>
        <resources>
            <vs7_wishlistshareselect_setup>
                <setup>
                    <module>VS7_WishlistShareSelect</module>
                </setup>
            </vs7_wishlistshareselect_setup>
        </resources>
        <events>
            <core_collection_abstract_load_before>
                <observers>
                    <vs7_wishlistshareselect_patch_collection>
                        <class>VS7_WishlistShareSelect_Model_Observer</class>
                        <method>addShowInShareFilter</method>
                    </vs7_wishlistshareselect_patch_collection>
                </observers>
            </core_collection_abstract_load_before>
            <model_save_before>
                <observers>
                    <vs7_wishlistshareselect_patch_save>
                        <class>VS7_WishlistShareSelect_Model_Observer</class>
                        <method>saveItemShare</method>
                    </vs7_wishlistshareselect_patch_save>
                </observers>
            </model_save_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <vs7_wishlistshareselect_patch_before>
                        <class>VS7_WishlistShareSelect_Model_Observer</class>
                        <method>registryApplyFilter</method>
                    </vs7_wishlistshareselect_patch_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <vs7_wishlistshareselect_patch_after>
                        <class>VS7_WishlistShareSelect_Model_Observer</class>
                        <method>registryApplyFilter</method>
                    </vs7_wishlistshareselect_patch_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <blocks>
            <vs7_wishlistshareselect>
                <class>VS7_WishlistShareSelect_Block</class>
            </vs7_wishlistshareselect>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <vs7_wishlistshareselect>
                    <file>vs7_wishlistshareselect.xml</file>
                </vs7_wishlistshareselect>
            </updates>
        </layout>
        <routers>
            <vs7_wishlistshareselect>
                <use>standard</use>
                <args>
                    <module>VS7_WishlistShareSelect</module>
                    <frontName>vs7_wishlist_share_select</frontName>
                </args>
            </vs7_wishlistshareselect>
        </routers>
        <translate>
            <modules>
                <VS7_WishlistShareSelect>
                    <files>
                        <default>VS7_WishlistShareSelect.csv</default>
                    </files>
                </VS7_WishlistShareSelect>
            </modules>
        </translate>
    </frontend>
    <default>
        <vs7_wishlistshareselect>
            <general>
                <secret></secret>
                <sitekey></sitekey>
            </general>
            <email>
                <recipients_count>5</recipients_count>
            </email>
        </vs7_wishlistshareselect>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_wishlistshareselect>
                                            <title>VS7 Wishlish Share Select Module Section</title>
                                        </vs7_wishlistshareselect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
